*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    height: 100dvh; 
    width:100dvw;
    font-family: 'Courier New', Courier, monospace;
    background-color: #08a4a3;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: ticketing;
    src: url(TICKETING/Ticketing.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: joystix;
    src: url(joystix\ monospace.otf);
}
.header{
    width: 100%;
    height: clamp(3.5rem, 8.09dvw, 5.663rem);
    background-color: #f3f3f3;
    display: block;
    position: fixed;
    top: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #636363;
    z-index: 1000;
}
.logo{
   position: relative;
   display: inline-block;
   margin-left: clamp(7.2rem, calc(17.7vw + 0.5rem), 20rem);
   bottom: clamp(3.6rem, 9vw, 6.75rem);
   width: clamp(2.25rem, 6vw, 5rem);
   height: auto;
    
}
.title{
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    font-family: ticketing;
    padding-left: min(10px, 2%);
    padding-top: min(7.5px, 1.5%);
    display: inline-block;
    position: relative;
    top: clamp(0.5rem, 1.3dvh, 1.3rem);
}

.subtitle{
    font-size: clamp(0.7rem, 3.09vw, 1.618rem);
    font-family: ticketing;
    padding-left: min(2px, 0.1%);
    padding-top: min(7.5px, 1.5%);
    display: inline-block;
    position:relative;
    top: clamp(0.8rem, 1.3dvh, 1.5rem);
}
@media (max-width:1240px){
    .subtitle{
        display: none;
    }
}
nav{
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: min(30px, 4%);
}
nav ul{
    display: flex;
    list-style: none;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    font-family: joystix;
    position: relative;
    bottom: clamp(1rem, calc(2.5vw + 0.6rem) ,6rem);
}
nav ul button{
    display: inline-block;
    align-items: center;
    transition: color 0.3s ease;
    cursor: pointer;
    color:black;
    font-family: joystix;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
}
.home_button:hover{
    background-color: #ffaaaa;
    border-color: #dd0000;
    color: #f3f3f3;
    transition: background-color 0.3s ease;

}
.design_button:hover{
    background-color: #ffffaa;
    border-color: #ffff00;
    color: #f3f3f3;
    transition: background-color 0.3s ease;
}

.product_button:hover{
    background-color: #aaffaa;
    border-color: #00dd00;
    color: #f3f3f3;
    transition: background-color 0.3s ease;

}

.home_button{
    margin-right: 1rem;
    background-color: #ff8787;
    border-width: 3px;
    border-style: solid;
    border-color: #bb0000;
    border-radius: 1px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.design_button{
    background-color: #ffff87;
    border-width: 3px;
    border-style: solid;
    border-color: #ffee00;
    border-radius: 1px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.product_button{
    margin-left: 1rem;
    background-color: #87ff87;
    border-width: 3px;
    border-style: solid;
    border-color: #00aa00;
    border-radius: 1px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

main{
    margin-top: 10vw;
}
.home_bar{
    width: 45%;
    height: clamp(0.30rem,4%,1.5rem);
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: clamp(4.15rem, 10.1vw, 7.8rem);
    font-size: clamp(0.2rem, 1.5vw, 1.2rem);
    font-family: joystix;
    color: #fff;
    background-color: #0000d3;
    margin-left: 2%;
    margin-top: 1.5vw;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 0.5vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.home_bar h3{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.home{
    width: 45%;
    height: 100%;
    display: flex;
    margin-left: 2%;
    margin-top: 2vw;
    margin-bottom: clamp(5rem, 40vw, 10rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: clamp(3.5rem, 8.09vw, 5.663rem);
    background-color: #636363;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: #636363 0px 0px 5px;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 1.6vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.home h2{
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-family: ticketing;
    color: #131313;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 3%;
    margin-left: 3%;
    line-height: 0.8;
    background-color: #fff;
}
.home p{
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-family: joystix;
    color: #fff;
    text-align: center;
    max-width: 43vw;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.about_bar{
    width: 45%;
    height: clamp(0.30rem,4%,1.5rem);
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: clamp(4.15rem, 10.1vw, 7.8rem);
    font-size: clamp(0.2rem, 1.6vw, 2rem);
    font-family: joystix;
    color: #fff;
    background-color: #0000d3;
    margin-left: 53%;
    margin-top: 1.5vw;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 0.5vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.about_bar h3{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.about{
    width: 45%;
    height: 100%;
    display: flex;
    margin-left: 53%;
    margin-top: 2vw;
    margin-bottom: clamp(3rem, 50vw, 10rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: clamp(3.5rem, 8.09vw, 5.663rem);
    background-color: #636363;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: #636363 0px 0px 5px;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 0.5vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.about h2{
    padding-right: 21.5%;
    padding-left: 21.5%;
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-family: ticketing;
    color: #131313;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 3%;
    margin-left: 3%;
    line-height: 0.8;
    background-color: #fff;
}
.about p{
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-family: joystix;
    color: #fff;
    text-align: center;
    max-width: 43vw;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#poinsettia{
    height:50vw;
    width:auto;
    display: flex;
    margin-left: 50%;
    margin-top: 8vw;
    margin-bottom: clamp(3rem, 50vw, 10rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: clamp(4rem, 7vw, 4rem);
    aspect-ratio: 1/1;
    object-fit: cover;
    }
.additional{
    width: 45%;
    height: 100%;
    display: flex;
    margin-left: 2%;
    margin-top: 2vw;
    margin-bottom: clamp(5rem, 40vw, 10rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: clamp(3.5rem, 5.99vw, 5.663rem);
    background-color: #636363;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: #636363 0px 0px 5px;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 1.6vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.additional h2{
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-family: ticketing;
    color: #131313;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 3%;
    margin-left: 3%;
    line-height: 0.8;
    background-color: #fff;
}
.additional p{
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-family: joystix;
    color: #fff;
    text-align: center;
    max-width: 43vw;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.additional_bar{
    width: 45%;
    height: clamp(0.30rem,4%,1.5rem);
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: clamp(4.15rem, 8vw, 7.8rem);
    font-size: clamp(0.2rem, 1.5vw, 1.2rem);
    font-family: joystix;
    color: #fff;
    background-color: #0000d3;
    margin-left: 2%;
    margin-top: 1.5vw;
    border-color: #f4f4f4;
    border-width: clamp(0.1rem, 0.5vw, 0.2rem);
    border-style: solid;
    border-radius: 2px;
}
.additional_bar h3{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
footer{
    width: 100%;
    height: clamp(3.5rem, 8.09vw, 5.663rem);
    background-color: #f3f3f3;
    display: block;
    position: absolute;
    bottom: -110;
    border-width: 2px;
    border-style: solid;
    border-color: #636363;
    text-align: center;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    font-family: joystix;
}
#cycleCard{
    width: auto;
    height: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 17.5%;
    top: clamp(35rem, 60vw, 60rem)
}
#cycleCard img{
 aspect-ratio: 3/4;
 object-fit: cover;
 height: 20vw;
 left:5%;
}

#cycleCard img:hover{
filter: brightness(130%);
}

#cycleCard p{
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 2rem);
    margin-right: min(16px,2rem);
}
